In [1]:
import pandas as pd

In [31]:
df = pd.read_csv("average_quiz_score.csv")

In [32]:
df.drop(df.columns[[0]], axis=1, inplace=True)

In [33]:
df[["firstName","lastName"]]=df.fullName.str.split(" ", n = 1, expand = True).rename(columns={0:'firstName', 1:'lastName'})

In [34]:
df.drop(df.columns[[0]], axis=1, inplace=True)

In [35]:
df.drop(df.columns[[-1]], axis=1, inplace=True)

In [36]:
df.rename(columns={'firstName':'fullName'}, inplace=True)

In [38]:
df.to_csv("average_quiz_score.csv", index=False)

In [39]:
df

   avg_success_score fullName
0          10.000000      Alp
1          10.000000    Ahmet
2           9.000000    Çevik
3           9.000000   Burçin
4           8.666667    Merve
5           8.000000     Umut
6           7.500000   bertan
7           7.000000    Alper
8           4.000000     Umut